In [5]:
import pandas as pd
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score

from matplotlib import pyplot as plt
%matplotlib inline

In [6]:
data = pd.read_csv('../data/titanic_train_temp.csv')
val_data = pd.read_csv('../data/titanic_val_temp.csv')

In [7]:
data.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,0,3,1,19.0,0,0,7.8958,0,0,1
1,1,2,0,35.0,0,0,21.0000,0,0,1
2,1,3,1,32.0,0,0,56.4958,0,0,1
3,1,2,0,42.0,0,0,13.0000,0,0,1
4,1,2,1,31.0,0,0,13.0000,0,0,1

In [8]:
model = RandomForestClassifier(n_estimators=100)

In [9]:
X = data.drop('Survived', axis=1)
y = data['Survived']
model.fit(X,y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [10]:
X_val = val_data.drop('Survived', axis=1)
y_val = val_data['Survived']
y_hat = model.predict_proba(X_val)[:,1]

In [11]:
roc_auc_score(y_val, y_hat)

0.851474358974359